# IDEs and Editors
.vscode/
.idea/
*.iml
*.iws
*.ipr
.settings/
.classpath
.project

# Build and Compilation
target/
**/target/
build/
**/build/

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Log files
*.log

# OS files
Thumbs.db
EHthumbs.db
Desktop.ini
.DS_Store

# Temporary files
*.tmp
*.bak
*.swp